<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Page</title>
</head>
<body>
    <header>
        {% include nav.html %}
        {% include header.html %}
    </header>

    <center><img style="border: solid 4px rgb(0, 0, 0); border-radius: 80%;" src="{{ site.data.biodata.foto }}" alt="Foto Profil" width="150px"></center>

    <h2>Nama: {{ site.data.biodata.nama }} </h2>
    <p>Level: {{ site.data.biodata.level }} </p>
    
    <p>Hobi: </p>
    <ul>
        {% for i in site.data.biodata.hobi %}
            <li> {{ i }} </li>
        {% endfor %}
    </ul>
    
    {% include footer.html %}
</body>
</html>